/* inner container */
.innerWrap {
  height: var(--maximum-length);
  background: var(--inner-bg-colour);
  max-width: var(--maximum-width);
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
