.clock:before {
  content: "...";
  display: block;
  position: absolute;
  right: 27px;
  top: -17px;
  color: var(--progress-colour);
  font-size: 26px;
}

.clock {
  color: white;
  text-align: center;
  position: relative;
  font-size: 14px;
}

.clock:after {
  content: "...";
  display: block;
  position: absolute;
  right: -19px;
  top: -17px;
  color: var(--progress-colour);
  font-size: 26px;
}
