/* CSS Reset */
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

ol,
ul {
  list-style: none;
}

/* This will responsively shrink the image height while maintining
the width you could also scale it up responsively using:
width: 100%;
height: auto; */
img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* After reset */
:root {
  --maximum-width: 350px;
  --maximum-length: 650px;
  --progress-colour: #f39f00;
  --main-bg-colour: #32343d;
  --header-bg-colour: #33343e;
  --inner-bg-colour: #101012;
}
body {
  font-family: "Open Sans Condensed", sans-serif;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 400;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Yanone+Kaffeesatz:wght@200;400&display=swap");

.header1 {
  margin-top: 50px;
  background: var(--header-bg-colour);
  max-width: var(--maximum-width);
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.flex-list {
  max-width: var(--maximum-width);
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background: var(--header-bg-colour);
}

.flex-item1 {
  color: white;
  text-align: left;
  margin-left: 5px;
}

.flex-item2:before {
  content: "...";
  display: block;
  position: absolute;
  right: 62px;
  top: -15px;
  color: var(--progress-colour);
  font-size: 26px;
}

.flex-item2 {
  color: white;
  text-align: right;
  position: relative;
  font-size: 12px;
}

.flex-item2:after {
  content: "...";
  display: block;
  position: absolute;
  right: -23px;
  top: -15px;
  color: var(--progress-colour);
  font-size: 26px;
}

.flex-item3 {
  color: white;
  text-align: right;
  flex: 2 0 auto;
}

/*The progress element*/
.progressSection {
  margin-top: 20px;
}
.progressContainer {
  height: 20px;
  background-color: var(--header-bg-colour);
  border-radius: 50px;
  max-width: var(--maximum-width);
  border: 2px solid black;
}

.progressFill {
  height: 100%;
  width: 67%;
  background-color: var(--progress-colour);
  border-radius: inherit;
  text-align: right;
}

.labelStyles {
  margin-left: 5px;
  width: 50px;
  font-size: 0.6rem;
  color: white;
  padding: 5px;
}

/* inner container */
.inner-wrap {
  height: var(--maximum-length);
  background: var(--inner-bg-colour);
  max-width: var(--maximum-width);
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
/*Inner weather component*/
.flex-list-inner {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(87, 88, 91, 1) 50%,
    rgba(100, 101, 104, 1) 100%
  );
  border-radius: 5px;
  height: 70px;
}

.weatherwrap {
  margin-bottom: 10px;
}
